body {
    margin: 0;
}

.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #F69D0F;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo img {
    width: 200px;
    height: 100px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin: 0 15px;
    padding: 20px
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: white;
}

@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}

.container {
    flex: 1; 
    padding: 0;
    margin: 0;
}

.container h1 {
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

.program-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

.program {
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: 450px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box; 
    overflow: hidden; 
}

.program .title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.program .content {
    flex: 1; 
    margin-top: 10px;
    margin-bottom: 10px; 
    overflow: hidden;
}

.reference {
    display: inline-block;
    text-align: center;
    margin-top: auto; 
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #F69D0F;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reference:hover {
    border: 2px solid #F69D0F;
    background-color: #fff;
    color: black;
}

.reference:active {
    background-color: #F69D0F;
    transform: scale(0.95);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin: 0; 
}

