body {
    margin: 0;
    
}

.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #F69D0F;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo img {
    width: 200px;
    height: 100px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin: 0 15px;
    padding: 20px
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: white;
}

@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}
.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("res/un.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    min-height: 239px;
  }
}


.img-un{
  height: 700px;
  width: 600px;
}

.u-layout{
  display: flex;
  align-items: center;
  position: center;
  padding-left: 190px;
  padding-bottom: 100px;
  padding-top: 0px;


}

.u-layout2{
  display: flex;
  align-items: center;
  position: center;
  padding-left: 150px;
  padding-bottom: 100px;
  background-color: #F69D0F;
  font-size: 20px;


}

.u-container-layout u-valign-middle u-container-layout-2{
  padding: 10px;
}

.container-01{
  position: relative;
  display: inline-block;
}

.container-11 img{
  display: block;
  width: 2200px;
  height: 800px;
  filter: brightness(50%) blur(2px);
  margin: 0;
  padding: 0;



}

.title{
    position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 100px; 
  text-align: center;
  filter: drop-shadow(3px);
}

.intro{
  padding-bottom: 100px;
  margin: 0;
}

.u-clearfix u-section-1{
  padding-bottom: 0;
  margin: 0;
}

.ngo-title{
  font: 10000px;
}

h1{
  font-size: 50px;
}

.img-ICLEI{
  float: right;
  height: 600px;
  width: 700px;
}

h2{
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.C40-body{
  font-size: 20px;
}

.body-iclei{
  color: white;
  font: 150px;
}

h3{
  font-size: 50px;
  color: rgb(255, 255, 255);
  filter: drop-shadow(10px);
}

.img-rfc{
  width: 900px;
}
