@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
margin: 0;
}

/* MISCELLANEOUS */
abbr{
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    height: 90px;
    width: 100%;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(85, 85, 85, 1) 0%, rgba(85, 85, 85, 1) 0%, rgb(26, 26, 26) 65%);
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    grid-area: navbar;
    position: fixed;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.logo {
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
    width: 25%;
    height: 70px;
    min-width: 200px;
}

.logo img {
    width: 70px;
    height: auto;
    margin-right: 15px;
}

.logo .logo-text {
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    width: auto;
    height: auto;
    margin-right: 5px;
}


.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin: 0 15px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 350ms ease-in,
                box-shadow 350ms ease-in;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 350ms ease-in;
}

.navbar-links li:hover a {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: black;
}

.menu-toggle {
    display: none;
}

/* BANNER */
.banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.sdg-title-container {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sdg-title {
    font-weight: bold;
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    filter: drop-shadow(5px 0 10px black);
    margin: 0;
    padding: 0;
}

.sdg-title #phone-mode-title{
    display: none;
}

.sdg-title-image {
    width: 100%;
    height: auto;
    filter: brightness(90%) blur(4px);
    }

/* GRID */
.grid{
    display: grid;
    grid-template-areas: "about-sdg our-mission";
}

/* ABOUT US */
.about-us {
    grid-area: about-sdg;
    width: auto;
    height: auto;
    margin: 15px;
    border: 5px double black;
    border-radius: 5px;
    background-color: rgb(241, 240, 240); /*changed when phone mode*/
    transition-property: background-color; /*changed when phone mode*/
    transition-duration: 1s; /*changed when phone mode */
}

.about-us-heading,
.mission-heading {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin-bottom: -8px;
}

.about-us-content, 
.mission-content {
    padding: 1px 15px 20px 15px;
    text-align: center;
    font-size: 1.5rem;
}


/* OUR MISSION*/
.our-mission{
    grid-area: our-mission;
    width: auto;
    height: auto;
    margin: 15px;
    border: 5px double black;
    border-radius: 5px;
    background-color: rgb(241, 240, 240);
}

/* SDG11 */

.sdg11-container{
    margin: 15px;
    display: flex;
    flex-direction: column; 
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-left: 15px solid black; /*changed when phone mode*/
    border-right: 15px solid black; /*changed when phone mode*/
    border-top: 3px solid black; /*changed when phone mode*/
    border-bottom: 3px solid black; /*changed when phone mode*/
    background-color: rgb(241, 240, 240); /*changed when phone mode*/
}

.sdg11-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    filter: drop-shadow(-2px 5px 5px rgb(186, 186, 186));
    color: black;
    text-align: center;
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.sdg11-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.sdg11-box {
    width: 200px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 7px 7px 0 #6e6d6d; /*changed when phone mode*/
    background-color: white;
    padding: 10px;
    overflow: hidden; 
    transition: background-color 1s;
    margin: 20px;
}

.sdg11-image {
    width: 100%;
    height: 65%;
    top: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    transition: transform 500ms ease-in-out;
}

.sdg11-box-title {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 30%;
    position: relative;
    left: 0;
    transition: transform 500ms ease-in-out,
    color 500ms ease-in-out;
}

.sdg11-box-content{
    font-size: 1rem;
    color: black;
    text-align: center;
    width: 100%;
    height: 70%;
    position: relative;
    left: 0;
    transition: transform 500ms ease-in-out;
}

.sdg11-box:hover {
    background-color: rgb(241, 240, 240); /*changed when phone mode*/
}

.sdg11-box:hover .sdg11-image {
    transform: translateY(-108%);
}

.sdg11-box:hover .sdg11-box-title {
    transform: translateY(-235%);
    color: black; /*changed when phone mode*/
}

.sdg11-box:hover .sdg11-box-content{
    transform: translateY(-110%);
}

/* SDG11 NEWS */

.news-container{
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 15px;
    border-left: 15px solid black; /*changed when phone mode*/
    border-right: 15px solid black; /*changed when phone mode*/
    border-top: 3px solid black; /*changed when phone mode*/
    border-bottom: 3px solid black; /*changed when phone mode*/
    background-color: rgb(241, 240, 240); /*changed when phone mode*/
}

.news-heading{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: start;
    color: black; /*changed when phone mode*/
    filter: drop-shadow(-2px 5px 5px rgb(186, 186, 186)); /*changed when phone mode*/
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.news-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.news-box{
    text-align: center;
    text-transform: uppercase;
    width: 420px;
    height: auto;
    border: 1px dotted black;
    border-radius: 5px;
    background-color: white;
    margin: 30px;
    box-shadow: 0px 5px 0px #6e6d6d; /*changed when phone mode*/
    transition: background-color 700ms,
    transform 700ms;
}

.news-image{
    width: 100%;
    height: 65%;
}

.news-box-content{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black; 
    height: 35%;
    text-decoration: none;
    transition: color 500ms;
}

.news-box:hover {
    background-color:rgb(241, 240, 240); /*changed when phone mode*/
    transform: scale(1.1);
}

.news-box:hover .news-box-content{
    color: black; /*changed when phone mode*/
}


/* TABLET MEDIA QUERIES */
@media only screen and (max-width: 768px){
    .grid{
        grid-template-areas: "about-sdg"
                             "our-mission";
    }

    .first{
        display: none;
    }

    .sdg-title {
        font-size: 2rem;
    }

    /* ABOUT US */
    .about-us{
        background-color: #ffd38b;
        border: 3px dashed;
        transition-property: background-color 1s ease-in;
    }

    .about-us-heading {
        font-size: 3rem;
        transition: color 500ms ease-in;
    }

    .about-us-content {
        transition: color 500ms ease-in;
    }

    .about-us:active{
        background-color: #F69D0F;
    }

    .about-us:active .about-us-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
    }

    .about-us:active .about-us-content{
        color:#e5e5e5;
    }

    .about-us-content{
        font-size: 1.7rem;
    }

    /* OUR MISSION */
    .our-mission{
        background-color: #ffd38b;
        border: 3px dashed;
        transition-property: background-color 1s ease-in;
    }

    .mission-heading {
        font-size: 3rem;
        transition: color 500ms ease-in;
    }

    .mission-content {
        transition: color 500ms ease-in;
    }

    .our-mission:active{
        background-color: #F69D0F;
    }

    .our-mission:active .mission-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
    }

    .our-mission:active .mission-content{
        color:#e5e5e5;
    }

    .mission-content{
        font-size: 1.7rem;
    }

    /* SDG11 */

    .sdg11-container{
        border-left: 10px solid #F69D0F;
        border-right: 10px solid #F69D0F;
        border-top: 3px dashed #F69D0F;
        border-bottom: 3px dashed #F69D0F;
        border-radius: 20px;
        background-color: #ffd38b;
    }

    .sdg11-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
        font-size: 3rem;
        border-bottom: 3px dotted #F69D0F;
    }

    .sdg11-box-title{
        font-size: 2rem;
    }

    .sdg11-box-content{
        font-size: 1.7rem;
    }

    .sdg11-box{
        box-shadow: 7px 7px 0 #c47900;
        transition: background-color 100ms ease-in;
        width: auto;
        height: 600px;
    }

    .sdg11-box:active {
        background-color: #F69D0F;
    }

    .sdg11-box:active .sdg11-box-title {
        color: white;
    }

    .sdg11-box:active .sdg11-box-content {
        color:#e5e5e5;
    }

    /* NEWS */

    .news-container{
        border-left: 10px solid #F69D0F; 
        border-right: 10px solid #F69D0F; 
        border-top: 3px dashed #F69D0F; 
        border-bottom: 3px dashed #F69D0F; 
        border-radius: 20px;
        background-color: #ffd38b;
    }

    .news-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
        border-bottom: 3px dotted #F69D0F;
        font-size: 3rem;
    }

    .news-box-content {
        font-size: auto;
    }

    .news-box{
        box-shadow: 0px 5px 0px #c47900;
        width: 600px;
    }

    .news-box:active {
        background-color:#F69D0F; 
    }

    .news-box:active .news-box-content{
        color: white; 
    }
}

/* MEDIA QUERIES FOR PHONE MODE */
@media only screen and (max-width: 426px){ 

    .sdg-title{
        padding-top: 70px;
        font-size: 1.3rem;
    }

    .sdg-title-container #general-title{
        display: none;
    }

    .sdg-title-container #phone-mode-title{
        display: contents;
    }

    /* SDG11 */
    .sdg11-box{
        width: 300px;
        height: 400px;
    }

    .sdg11-box-title{
        font-size: 1.2rem;
    }

    .sdg11-box-content{
        font-size: 1.3rem;
    }
    
    /* NEWS */
    .news-box-content {
        width: auto;
    }
}

@media only screen and (max-width: 400px){ 
    .sdg-title{
        font-size: 1rem;
    }
    
    .sdg11-box{
        height: 300px;
    }

    .sdg11-box-title{
        font-size: 1rem;
    }

    .sdg11-box-content{
        font-size: 1.1rem;
    }

    .news-box-content{
        font-size: 0.5rem;
    }
}

/* NAVABAR MEDIQ QUERIES*/
@media (max-width: 768px) {
    .navbar{
        background: linear-gradient(#F19824, white);
    }
    .navbar-links {
        max-height: 0;
        overflow: hidden;
        width: 30%;
        min-width: 30%;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #F19824;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        z-index: -10;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
        opacity: 0;
        transform: translateY(-10px);
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    }

    .logo {
        height: 70px;
        width: 250px;
        min-width: 200px;
        max-height: 70px;
    }

    .navbar-links li {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

    .navbar-toggle {
        display: block;
        color: #fff;
    }

    .menu-toggle:checked + .navbar-toggle + .navbar-links {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
        z-index: 10;
    }
}
