body {
    margin: 0;
}

/* GRID */
.grid {
    display: grid;
    height: auto;
    width: auto;
    justify-items: center;
    grid-template-areas: "navbar"
                         "banner"
                         "about-sdg" 
                         "sdg11-container"
                         "news-container";
}

/* NAVBAR */
.navbar {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#F69D0F;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    grid-area: navbar;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 5px 4px #ce8106;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.logo{
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
    width: 30%;
}

.logo p{
    text-align: left;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    width: auto;
    margin-right: 5px;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin: 0 15px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 350ms ease-in,
                box-shadow 350ms ease-in;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 350ms ease-in;
}

.navbar-links li:hover{
    background-color: rgb(236, 235, 235);
    box-shadow: 7px 7px 0 #c47900;
}
.navbar-links li:hover a {
    color:#F69D0F;
}

/* BANNER */
.banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    grid-area: banner;
}

.sdg-title-container {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sdg-title {
    font-weight: bold;
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    filter: drop-shadow(5px 0 10px black);
    margin: 0;
    padding: 0;
}

.sdg-title-image {
    width: 100%;
    height: auto;
    filter: brightness(90%) blur(4px);
}

@media only screen and (max-width: 768px) {
    .sdg-title {
        font-size: 2.5rem;
    }
}

/* SDG */
.about-sdg {
    grid-area: about-sdg;
    width: auto;
    height: auto;
    margin: 15px;
    border: 3px dashed black;
    border-radius: 5px;
    background-color: rgb(223, 223, 223); /*changed when phone mode*/
    transition-property: background-color; /*changed when phone mode*/
    transition-duration: 1s; /*changed when phone mode*/
}

.sdg-heading{
    font-size: 1.7rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin-bottom: -8px;
}

.sdg-content {
    padding: 1px 15px 20px 15px;
    text-align: center;
    font-size: 1.5rem;
}

.about-sdg:hover{
    background-color: rgb(171, 171, 171); /*changed when phone mode*/
}

/* SDG11 */

.sdg11-container{
    grid-area: sdg11-container;
    margin: 15px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-left: 10px solid #333; /*changed when phone mode*/
    border-right: 10px solid #333; /*changed when phone mode*/
    border-top: 3px solid #333; /*changed when phone mode*/
    border-bottom: 3px solid #333; /*changed when phone mode*/
    border-radius: 20px;
    background-color: rgb(223, 223, 223); /*changed when phone mode*/
}

.sdg11-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    filter: drop-shadow(-2px 5px 5px rgb(186, 186, 186));
    color: black;
    text-align: center;
    width: 100%;
}

.sdg11-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.sdg11-box {
    width: 200px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 7px 7px 0 #9f9f9f; /*changed when phone mode*/
    background-color: white;
    padding: 10px;
    overflow: hidden; 
    transition: background-color 1s;
    margin: 20px;
}

.sdg11-image {
    width: 100%;
    height: 65%;
    top: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    transition: transform 500ms ease-in-out;
}

.sdg11-box-title {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 30%;
    position: relative;
    left: 0;
    transition: transform 500ms ease-in-out,
                color 500ms ease-in-out;
}

.sdg11-box-content{
    font-size: 1rem;
    color: black;
    text-align: center;
    width: 100%;
    height: 70%;
    position: relative;
    left: 0;    
    transition: transform 500ms ease-in-out;
}

.sdg11-box:hover {
    background-color: #e4f2ff; /*changed when phone mode*/
}

.sdg11-box:hover .sdg11-image {
    transform: translateY(-108%);
}

.sdg11-box:hover .sdg11-box-title {
    transform: translateY(-235%);
    color: black; /*changed when phone mode*/
}

.sdg11-box:hover .sdg11-box-content{
    transform: translateY(-110%);
}

/* SDG11 NEWS */

.news-container{
    grid-area: news-container;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 15px;
    border-left: 10px solid #333; /*changed when phone mode*/
    border-right: 10px solid #333; /*changed when phone mode*/
    border-top: 3px solid #333; /*changed when phone mode*/
    border-bottom: 3px solid #333; /*changed when phone mode*/
    background-color: rgb(223, 223, 223); /*changed when phone mode*/
    border-radius: 20px;
}

.news-heading{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: start;
    color: black; /*changed when phone mode*/
    filter: drop-shadow(-2px 5px 5px rgb(186, 186, 186)); /*changed when phone mode*/
    width: 100%;
    text-align: center;
}

.news-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.news-box{
    text-align: center;
    text-transform: uppercase;
    width: 420px;
    height: auto;
    border: 1px dotted black;
    border-radius: 5px;
    background-color: white;
    margin: 30px;
    box-shadow: 0px 5px 0px #9f9f9f; /*changed when phone mode*/
    transition: background-color 700ms,
                transform 700ms;
}

.news-image{
    width: 100%;
    height: 65%;
    padding-bottom: 10px;
}

.news-box-content{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black; 
    height: 35%;
    text-decoration: none;
    transition: color 500ms;
}

.news-box:hover {
    background-color:#e4f2ff; /*changed when phone mode*/
    transform: scale(1.1);
}

.news-box:hover .news-box-content{
    color: black; /*changed when phone mode*/
}

  /* PHONE MODE */

@media only screen and (max-width: 480px){ 
    /* SDG */
    .sdg-heading{
        font-size: 3rem;
    }

    .about-sdg{
        background-color: #ffd38b;
        transition-property: background-color;
        transition-duration: 1s;
    }

    .sdg-heading {
        transition: color 500ms ease-in,
                    transition 500ms ease-in;
    }

    .sdg-content {
        transition: color 500ms ease-in;
    }
    
    .about-sdg:hover{
        background-color: #F69D0F;
    }

    .about-sdg:hover .sdg-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
    }

    .about-sdg:hover .sdg-content{
        color:#d3d7da;
    }

    .sdg-content{
        font-size: 1.7rem;
    }

    /* SDG11 */

    .sdg11-container{
        border-left: 10px solid #F69D0F;
        border-right: 10px solid #F69D0F;
        border-top: 3px dashed #F69D0F;
        border-bottom: 3px dashed #F69D0F;
        background-color: #ffd38b;
    }

    .sdg11-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
        font-size: 3rem;
    }

    .sdg11-box-title{
        font-size: 1.2rem;
    }

    .sdg11-box-content{
        font-size: 1.3rem;
    }

    .sdg11-box{
        box-shadow: 7px 7px 0 #c47900;
        transition: background-color 1s;
        width: 300px;
        height: 400px;
    }
    
    .sdg11-box:hover {
        background-color: #F69D0F;
    }
    
    .sdg11-box:hover .sdg11-box-title {
        color: white;

    }

    /* NEWS */

    .news-container{
        border-left: 10px solid #F69D0F; 
        border-right: 10px solid #F69D0F; 
        border-top: 3px dashed #F69D0F; 
        border-bottom: 3px dashed #F69D0F; 
        background-color: #ffd38b;
    }

    .news-heading{
        color: white;
        filter: drop-shadow(-2px 5px 5px black);
        font-size: 3rem;
    }

    .news-box-content {
        font-size: 1.3rem;
    }

    .news-box{
        box-shadow: 0px 5px 0px #c47900;
        width: 600px;
    }

    .news-box:hover {
        background-color:#F69D0F; 
    }

    .news-box:hover .news-box-content{
        color: white; 
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    .logo img,
    .logo p,
    .logo {
        display: none;
    }
}

@media (max-width: 1400px) {
    .logo img{
        border-right: 3px solid #F69D0F;
    }
}

@media (max-width: 1050px) {
    .navbar {
        position: relative;
    }
}

