body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F69D0F;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.logo {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 25%; /* Adjust for responsiveness */
}

.logo img {
    width: 80px; /* Reduced size for better fit */
    height: auto;
    margin-right: 10px;
}

.logo p{
    text-align: left;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    width: auto;
    margin-right: 5px;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 350ms ease-in, box-shadow 350ms ease-in;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links li:hover {
    background-color: rgb(236, 235, 235);
    box-shadow: 7px 7px 0 #c47900;
}

.navbar-links li:hover a {
    color: #F69D0F;
}

.container {
    padding-top: 80px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    padding: 20px;
}

.program-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.program {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.program-container {
    display: flex;
    align-items: center;
    margin: 20px 0; 
}

.program-container img {
    width: 700px; 
    height: 500px;
    object-fit: cover;
}

.program-container.reverse {
    flex-direction: row-reverse;
}

.program .title {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.program .content {
    flex-grow: 1;
    margin: 10px 0;
}

.reference {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #F69D0F;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reference:hover {
    background-color: #fff;
    color: #F69D0F;
    border: 2px solid #F69D0F;
}

.reference:active {
    background-color: #F69D0F;
    transform: scale(0.95);
}


/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-top: auto;
}

@media (max-width: 768px) {
    .program-container {
        flex-direction: column; 
        align-items: center; 
        margin: 20px 0; 
    }

    .program-container.reverse {
        flex-direction: column; 
    }

    .program-container img {
        width: 100%; 
        height: auto; 
    }

    .program {
        width: 100%; 
        max-width: 500px; 
        margin: 20px 0; 
    }
}
